.DS_Store
.gitignore
node_modules
public
prof
tsconfig.tsbuildinfo
#.obsidian

.obsidian/
!.obsidian/community-plugins.json
!.obsidian/plugins/file-explorer-plus/
!.obsidian/plugins/iconic/
!.obsidian/plugins/obsidian-discordrpc/
!.obsidian/plugins/omnisearch/
!.obsidian/plugins/recent-files-obsidian/
!.obsidian/plugins/slash-commander/

.quartz-cache
private/
.replit
replit.nix
