.DS_Store
.gitignore
node_modules
#public
prof
tsconfig.tsbuildinfo
#.obsidian

.obsidian/appearance.json
.obsidian/workspace.json
.obsidian/themes/
.obsidian/hotkeys.json

.quartz-cache
private/
.replit
replit.nix
